html {
    background: #fff;
    background: radial-gradient(at center, #fff, #d7d7eb);
    background-size: auto;
    color: #1b1b1b;
    font-family: Tahoma, sans-serif;
}

h1 {
    font-size: 128px;
}

h1,
h2,
h3,
h4 {
    color: #2bc3e8;
    text-align: center;
}

a:link {
    color: #2bc3e8;
}

a:visited {
    color: #2bc3e8;
}

a:hover {
    color: #2bc3e8;
}

.message {
    width: 60vw;
    max-width: 1200px;
    min-width: 700px;
    margin-top: 70px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 10px;
    align-items: center;
}

.message>p {
    margin: 20px;
    text-align: center;
}

.acrylic {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-blend-mode: exclusion;
    background: #ffffffcc;
    filter: drop-shadow(5px 5px 0.75rem #000000aa);
}

@media only screen and (max-width: 768px) {
    .message {
        width: 90vw;
        min-width: 200px;
    }
}