:root {
    /* <--- Color variables ---> */
    --main-bg-color: #252526;
    --accent-color: #115ea3;
    --text-color: #fff;
    --button-color: #383838;
    --input-color: #141414;
    --positive-color: #4CAF50;
    --negative-color: #b23c3c;
}

body {
    background: #252526;
    background: radial-gradient(at center, #252526, #12121E);
}

.acrylic {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-blend-mode: exclusion;
    background: #2e2e2e99;
    filter: drop-shadow(5px 5px 0.75rem #000000aa);
}