:root {
    /* <--- Font defaults ---> */
    font-family: Tahoma, sans-serif;
    color: var(--text-color);
}

/* <--- Text size defaults ---> */
:root {
    font-size: 3.5mm;
}

body {
    background: var(--main-bg-color);
    background: var(--main-bg-gradient);
}

a {
    font-size: 3mm;
}

h1 {
    font-size: 6mm;
    user-select: none;
}

h2 {
    font-size: 4mm;
}

/* <--- App defaults ---> */
html {
    font-family: 'Open Sans', 'Roboto', 'Arial';
}

body {
    margin: 0;
}

h1 {
    font-size: 24pt;
    margin-left: auto;
}

p {
    font-size: 12pt;
}

#logo {
    width: 25%;
    filter: drop-shadow(5px 5px 1rem #00000077);
    user-select: none;
}

#title {
    display: flex;
}

#content-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#container {
    position: relative;
}

#tenant-container {
    display: flex;
    flex-flow: column wrap;
    gap: 5px;
}

#buttons-container {
    min-height: 40px;
    max-height: 225px;
    min-width: 175px;
    max-width: 350px;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    gap: 5px;
    border-radius: 5px;
}

#searchbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 350px;
    gap: 5px;
    user-select: none;
}

#customer-select {
    flex-grow: 1;
    height: 35px;
    width: 325px;
    padding: 5px 5px 5px 10px;
    border-radius: 5px;
    border-width: 0;
    color: var(--text-color);
    background-color: var(--input-color);
    outline: none;
    text-overflow: ellipsis;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 1.25em;
    width: 1.25em;
    background: url(media/clear.svg);
    background-size: contain;
}

#customer-select:hover {
    border-bottom: 2px solid var(--accent-color);
    padding: 5px 5px 3px 10px;
}

#import-button {
    display: none;
}

#backdrop {
    width: min-content;
    height: min-content;
    padding: 35px 40px;
    border-radius: 5mm;
    gap: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px 0px;
}

.dropzone {
    width: 346px;
    height: 421px;
    margin-top: 250px;
    padding: 35px 50px;
    border-radius: 5mm;
    gap: 20px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    background-blend-mode: exclusion;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: dashed var(--accent-color);
}

.icon {
    width: 25px;
    min-height: 25px;
    padding: 0 5px;
    cursor: pointer;
    color: var(--input-color);
}

button[is=msp-button] {
    background-color: var(--button-color);
    width: 172.5px;
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border-width: 0;
    padding: 5px;
}

button[is=msp-button]>img {
    height: 25px;
    width: 25px;
}

button[is=msp-button]:disabled {
    opacity: 50%;
}

button[is=msp-button]:hover:enabled,
.icon-button:hover:enabled {
    border-bottom: 2px solid var(--accent-color);
    padding: 5px 5px 3px 5px;
}

button[is=msp-button]>p,
.icon-button>p {
    color: var(--text-color);
    flex-grow: 1;
}

#footer {
    max-width: 350px;
    gap: 5px;
    display: flex;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
}

.icon-button {
    background-color: var(--button-color);
    width: 350px;
    height: 30px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border-width: 0;
    padding: 5px;
    cursor: pointer;
    user-select: none;
}

.half {
    width: 172.5px;
}

.icon-button:disabled {
    opacity: 50%;
}

.icon-button>svg {
    color: var(--text-color);
    width: 20px;
}

.icon-button>img {
    width: 20px;
}

.icon {
    color: var(--input-color);
}

.icon:hover {
    color: var(--text-color);
}

.draggable.dragging {
    opacity: 25%;
}