:root {
    /* <--- Font defaults ---> */
    font-family: Tahoma, sans-serif;
    color: var(--text-color);
}

/* <--- Text size defaults ---> */
:root {
    font-size: 3.5mm;
}

a {
    font-size: 3mm;
}

h1 {
    font-size: 6mm;
}

h2 {
    font-size: 4mm;
}

/* <--- App defaults ---> */
html {
    font-family: 'Open Sans', 'Roboto', 'Arial';
    background: #252526;
    background: radial-gradient(at center, #252526, #12121E);
}

body {
    margin: 0;
}

#logo {
    width: 300px;
    margin: -50px 0px -2px 0px;
    filter: drop-shadow(5px 5px 1rem #00000077);
}

#bodyContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#backdrop {
    width: 500px;
    height: 600px;
    border-radius: 5mm;
    display: flex;
    align-items: center;
    flex-direction: column;
}