:root {
    /* <--- Color variables ---> */
    --main-bg-color: #fff;
    --accent-color: #115ea3;
    --text-color: #252525;
    --button-color: #cfcfcf;
    --input-color: #fff;
    --positive-color: #4CAF50;
    --negative-color: #b23c3c;
}

body {
    background: #fff;
    background: radial-gradient(at center, #fff, #d7d7eb);
}

.acrylic {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-blend-mode: exclusion;
    background: #ffffffcc;
    filter: drop-shadow(5px 5px 0.75rem #000000aa);
}